


<div class=" p-2 text-dark bg-opacity-10 high">


  



  <form class="example-form m-4">
    <!-- <div class=" row m-4"> -->
      <!-- <div class="col-md-4 field-box "> -->

        <div class="row">
          <div class="col col-head">
          <h1 style="font-size: 30px; font-weight: bold;" class=" d-flex ">User Profile
          </h1>
          </div>
          </div>
        <form class="example-form">
          <div class="row">
            
            
            <div class="col ">

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee Id</mat-label>
                <input matInput placeholder="Ex. joy" value="{{emp[0].empId}}">
              </mat-form-field>
            </div>

            <div class="col col1">

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>FirstName</mat-label>
                <input matInput placeholder="Ex. Pizza" value="{{emp[0].firstName}}">
              </mat-form-field>
            </div>

            <div class="col col1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>MiddleName</mat-label>
                <input matInput placeholder="Ex. Pizza" value="{{emp[0].middleName}}">
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>LastName</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{emp[0].lastName}}">
          </mat-form-field>
          </div>

          <div class="col col1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Department</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{emp[0].department}}">
          </mat-form-field>
           </div>

           <div class="col col1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Gender</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{emp[0].gender}}">
          </mat-form-field>
        </div>
        </div>

        <div class="row">
          
          <div class="col">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>DOB</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{emp[0].DOB}}">
          </mat-form-field>
        </div>

        <div class="col col1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{emp[0].city}}">
          </mat-form-field>
        </div>

        <div class="col col1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Salary</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{emp[0].salary}}">
          </mat-form-field>
         </div>
         </div>

          <!-- <input type="text" value="{{EmployeeId}}" *ngIf="editMode"/> -->
          <!-- <button  (click)="openDialog()">Update</button>
                 -->
          <button mat-raised-button color="primary" (click)="openDialog()">Update</button>


        </form>


        <!-- <h4>Student Name: {{firstName}}</h4> -->
        <!-- <h4>Student department: {{department}}</h4> -->


      <!-- </div> -->
    <!-- </div> -->


  </form>
</div>

