<!-- <p>product-edit works!</p> -->

  
  <div class=" p-2 text-dark bg-opacity-10 high">
  
  
    
  
  
  
    <form class="example-form m-5">
      <!-- <div class=" row m-4"> -->
        <!-- <div class="col-md-4 field-box "> -->
  
          <div class="row">
            <div class="col col-head">
            <h1 style="font-size: 30px; font-weight: bold;" class="m-3 d-flex ">Edit product details
            </h1>
            </div>
            </div>
          <form class="example-form">
            <div class="row">
              
              
              <div class="col ">
  
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Category</mat-label>
                  <input matInput placeholder="Ex. joy" value="{{product.category}}">
                </mat-form-field>
              </div>
  
              <div class="col col1">
  
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Product Name</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="{{product.name}}">
                </mat-form-field>
              </div>
  
              <div class="col col1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>code</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="{{product.code}}">
                </mat-form-field>
              </div>
            </div>
  
  
            <div class="row">
              <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>color</mat-label>
              <input matInput placeholder="Ex. Pizza" value="{{product.color}}">
            </mat-form-field>
            </div>
  
            <div class="col col1">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Ex. Pizza" value="{{product.description}}">
            </mat-form-field>
             </div>
  
             <div class="col col1">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Instock</mat-label>
              <input matInput placeholder="Ex. Pizza" value="{{product.inStock}}">
            </mat-form-field>
          </div>
          </div>
  
         
  
            <!-- <input type="text" value="{{EmployeeId}}" *ngIf="editMode"/> -->
            <!-- <button  (click)="openDialog()">Update</button>
                   -->
            <button mat-raised-button color="primary" >Update</button>
  
  
          </form>
  
  
          <!-- <h4>Student Name: {{firstName}}</h4> -->
          <!-- <h4>Student department: {{department}}</h4> -->
  
  
        <!-- </div> -->
      <!-- </div> -->
  
  
    </form>
  </div>
