<!-- <p>delete works!</p>

-->

  <div class="outer-div">
    <div class="row">
        <div class="col col-head">
            <h1 style="font-size: 30px; font-weight: bold;" class="m-3 d-flex ">User Profile
            </h1>
        </div>
    </div>
    
    <div class="row row1">
    
        <div class="col">
          <h2>Employee Id</h2>
          <p>{{emp[0].empId}}</p>
        </div>
    
        <div class="col col2">
            <h2>FirstName</h2>
          <p>{{emp[0].firstName}}</p>
        </div>
    
        <div class="col col2">
            <h2>MiddleName</h2>
          <p>{{emp[0].middleName}}</p>
        </div>
    </div>
    
    <div class="row row1">
    
        <div class="col">
          <h2>LastName</h2>
          <p>{{emp[0].lastName}}</p>
        </div>
    
        <div class="col col2">
            <h2>Department</h2>
          <p>{{emp[0].department}}</p>
        </div>
    
        <div class="col col2">
            <h2>Gender</h2>
          <p>{{emp[0].gender}}</p>
        </div>
    </div>
    
    <div class="row row1">
    
        <div class="col">
          <h2>DOB</h2>
          <p>{{emp[0].DOB}}</p>
        </div>
    
        <div class="col col2">
            <h2>City</h2>
          <p>{{emp[0].city}}</p>
        </div>
    
        <div class="col col2">
            <h2>Salary</h2>
          <p>{{emp[0].salary}}</p>
        </div>
    </div>
    
    <button mat-raised-button color="primary" (click)="openDialog()" class="but">Delete</button>
    
    </div>
  
  
