<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

 <!-- <app-login></app-login> -->
 <!-- <app-navbar ></app-navbar> -->
 
  <!-- <button (click)="click()">click</button> -->
  <app-navbar *ngIf="isValidate"></app-navbar>
  <h1>{{logged}}</h1>
 
  <router-outlet *ngIf="logged" ></router-outlet>

<app-login *ngIf="!logged"></app-login>